<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daily Jokes</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="/styles/create_note.css" />
  </head>
  <body>
    <header>
      <a href="/"
        ><div>Eco<span>Mind</span></div>
      </a>
      <div class="Navbar-items">
        <ul>
          <li>Home</li>
          <li>About Us</li>
          <li>Contact Us</li>
        </ul>
      </div>
      <a class="detail-value" href="/profile">
        <div class="profile-pic"></div>
      </a>
    </header>
    <div class="body-entry">
      <div class="col-1">
        <h2>Welcome <%= username %>👋</h2>
        <h3>
          "Your digital canvas awaits—where ideas take shape with ease. Simplify
          your thoughts, organize your day, and unleash creativity with our
          intuitive notepad. Whether notes, sketches, or plans, streamline your
          workflow and capture every detail. Welcome to a world where
          productivity meets simplicity, all at your fingertips."
        </h3>
        <div class="new-note">
          <form method="post" action="/home/post">
            <h3>Keep Your notes</h3>
            <input
              type="text"
              name="title"
              placeholder="Enter Title (Max 20 Words)"
              maxlength="20"
              required
            />
            <textarea
              name="content"
              id="textarea"
              placeholder="Enter text (Max 200 Words)"
              rows="7"
              maxlength="200"
              required
            ></textarea>
            <button type="submit">Add New Note</button>
          </form>
        </div>
      </div>
      <div class="col-2">
        <% data.map(item=> { %>
        <div class="item-box">
          <div class="title-partition">
            <div class="title"><%= item.title %></div>
            <form method="post" action="/home/deleteNote/<%= item.id%>">
              <button type="submit"><i class="fas fa-trash-alt"></i></button>
            </form>
          </div>
          <div class="content"><%= item.content %></div>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Notebook</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 20px;
      }
      form {
        display: flex;
        flex-direction: column;
        width: 250px;
      }
      .mt {
        margin-top: 10px;
      }
      #container {
        margin-top: 20px;
      }
      .field-box {
        margin-bottom: 10px;
      }
      li {
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <h1>My Notebook</h1>
    <div id="container"></div>
    <ol>
      <% data.map(item=> { %>
      <li>
        Title: <%= item.title %> <br />
        Content: <%= item.content %>
      </li>
      <% }) %>
    </ol>
    <form method="post" action="/home/post">
      <input class="mt" name="title" type="text" placeholder="Enter Title" />
      <textarea
        class="mt"
        name="content"
        id="content"
        placeholder="Enter text"
      ></textarea>
      <button class="mt" type="submit">Add New Note</button>
    </form>
  </body>
</html> -->
